*{
    margin: 0px;
    padding: 0px;
}
header{
    .header-top{
        background-color:#00A5C7;
        padding: 17px 0;
        .all{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left{
                a{
                    text-decoration: none;
                    color:#F6F6F6;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    margin-right: 25px;
                    img{
                        margin-right: 4px;
                    }
                }
                .mail{
                  border-left:1px solid #F7F7F7;;
                  padding-left: 20px;
               
                }
            }
            
        }
        .right{
            a{
                img{
                    margin-left: 10px;
                }
            }
        }
    }
    .header-bottom{
        padding: 18px 0px;
        .two-all{
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul{
                display: flex;
                align-items: center;
                li{
                    list-style: none;
                    a{
                      text-decoration: none;
                      color: #6D6E70;
                      font-weight: 400;
                      font-size: 16px;
                      line-height: 19px;
                      margin-left: 40px;
                      img{
                          margin-left:20px;
                      }
                    }
                }
            }
        }
    }
}

.ambulance-section{
    .banner-carousel{
        .owl-nav{
            display: none;
        }
        .owl-dots{
            display: flex;
            justify-content: center;
            margin-top: 64px;
            align-items: center;
            button{
                width: 11px;
                height: 11px;
                background-color: #C4C4C4;
                margin-left: 7px;
                margin-right: 7px;
                border-radius: 100%;

            }
            .active{
                background-color: #00A5C7;
                width: 14px;
                height: 14px;
            }
        }
    }
}

.ambulance-service{
    padding:100px 0;
    .service-text{
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 67px;
        &:after{
            content: "";
            position: absolute;
            top:70px;
            width:200px;
            height:2px;
            background-color: #00A5C7;
        }
        h3{
            font-family: "sans-bold";
            font-weight: 700;
            font-size: 48px;
            line-height: 57px;
            color:#2E2E2E;
        }
    }
    .ambulance-carousel{
        display: block;
        position: relative;
        .all-servic{
            display: flex;
            .left-img{
                margin-right: 30px;
            }
            .right-text{
                margin-top:11px;
                h4{
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 26px;
                    font-family: "sans-bold";
                    color:#2E2E2E;
                }
                p{
                    font-weight: 400;
                    font-size: 18px;
                    font-family: "sans-regular";
                    color:#6D6E70;
                  
                }
            }
        }
        .owl-nav{
            position: absolute;
            top:20%;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .owl-prev{
                margin-left: -61px;
            }

            .owl-next{
                margin-right: -60px;
                img{
                    transform: rotate(180deg);
                }
            }

            button{
                width: 38px;
                height: 38px;
                border: 1px solid #979797;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background-color: #00A5C7;
                    border-color:#00A5C7 ;
                    img{
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }
}
